.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.git/**
node_modules/**
!node_modules/monaco-editor/min/**
out/test/**
test/**
webpack.config.js
**/jest.config.js
**/*.vsix
.editorconfig
.prettierrc
.prettierignore
.eslintignore
yarn.lock
package-lock.json MARKETPLACE_MANAGEMENT.md
